* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans Unicode';
    caret-color: transparent;
}

@media only screen and (min-width: 1025px) {
    .small_width {
        visibility: hidden;
    }

    .search_nav_top {
        margin-left: auto;
        margin-right: auto;
        width: 1200px;
    }

    .content {
        position: relative;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        width: 1200px;
    }

    .artists {
        margin-top: 100px;
    }

    .square_photo {
        width: 150px;
        height: 150px;
    }

    .square_track {
        width: 38px;
        height: 38px;
    }

    .artist_track {
        font-size: x-small;
    }

    .popular_tracks_grid {
        padding-left: 120px;
        padding-top: 20px;
        display: grid;
        grid-template-columns: repeat(3, 370px);
        grid-template-rows: repeat(3, 80px);
        justify-content: center;
    }

    .footer_top {
        height: 50%;
        width: 1150px;
        padding: 30px;
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
    }

    .block {
        background-color: #ebebeb;
    }

    .content_search {
        position: relative;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        width: 1200px;
        margin-left: 30px;
    }

    .search_content {
        display: grid;
        grid-template-columns: 1200px auto;
        width: 100%;
        position: relative;
        height: 100%;
    }
}

@media only screen and (max-width: 1024px) {
    .huge_width {
        visibility: hidden;
    }

    .search_nav_top {
        margin-left: auto;
        margin-right: auto;
        width: 994px;
    }

    .content {
        position: relative;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        width: 1024px;
    }

    .content_search {
        position: relative;
        height: 100%;
        margin-right: auto;
        width: 950px;
        margin-left: 30px;
    }

    .artists {
        margin-top: 100px;
        padding-left: 40px;
    }

    .popular_tracks_grid {
        display: grid;
        grid-template-columns: repeat(3, 340px);
        grid-template-rows: repeat(6, 150px);
        justify-content: center;
    }

    .footer_top {
        height: 50%;
        width: 950px;
        padding: 30px;
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
    }

    .block {
        background-color: #ebebeb;
        visibility: hidden;
    }

    .search_content {
        width: 100%;
        position: relative;
    }
}

.none_display {
    display: none;
}

.hidden {
    visibility: hidden;
}

.disc {
    position: absolute;
    left: 0;
}

.app {
    position: relative;
    height: 1700px;
}

.logo {
    width: 104px;
    height: 40px;
    background-position-y: 5px;
    background-repeat: no-repeat;
    background-image: url(https://www.last.fm/static/images/logo_static.adb61955725c.png);
    box-sizing: border-box;
    position: relative;
    margin-left: 3%;
    top: 10px;
    left: auto;
}

.cur_track {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.header_track_buttons {
    position: relative;
    top: 5px;
}

.btn {
    height: 50px;
    width: 40px;
    background-color: black;
    cursor: pointer;
    border: 0;
}

.prev_btn {
    background-image: url(https://www.last.fm/static/images/player_controls.574646cbe24e.png);
    background-position: -5px 0px;
}

.play_btn {
    background-image: url(https://www.last.fm/static/images/player_controls.574646cbe24e.png);
    background-position: -45px 0px;
}

.header {
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: black;
}

.next_btn {
    background-image: url(https://www.last.fm/static/images/player_controls.574646cbe24e.png);
    background-position: -125px 0px;
}

.like_btn {
    background-image: url(https://www.last.fm/static/images/player_controls.574646cbe24e.png);
    background-position: -370px 0px;
}

.search_btn {
    background-image: url(https://www.last.fm/static/images/icons/search_16.bde37072495a.png);
    background-color: black;
    background-repeat: no-repeat;
    background-position: 0px 11px;
    width: 20px;
    height: 25px;
    cursor: pointer;
}

.header_list {
    padding-top: 5px;
}

.header_list_item {
    margin-top: auto;
    justify-content: right;
    display: inline;
    padding-left: 10px;
}

.header_nav_div {
    display: flex;
    flex-direction: row;
    position: relative;
    right: 0;
    padding-top: 10px;
}

.header_link {
    text-decoration: none;
    color: white;
    font-size: small;
}

.profile_link {
    margin-left: 10px;
    margin-right: 10px;
    background-image: url(https://lastfm.freetls.fastly.net/i/u/avatar42s/818148bf682d429dc215c1705eb27b98.png);
    background-color: black;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    position: relative;
    right: 0%;
}

.header_div {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    justify-content: space-between;
}

.content_top {
    text-align: center;
}

.hot_rn_section {
    position: relative;
    width: 100%;
    height: 100%;
    top: 5%;
}

.content_top_header {
    font-size: 48px;
    margin-top: 2%;
}

.music_section_underline {
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 18px;
    position: relative;
    text-align: center;
}

.music_section_underline::after {
    background: #b90000;
    bottom: 0;
    content: "";
    height: 2px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    width: 50px;
}

.none-decoration {
    text-decoration: none;
    color: black;
}

.artists_list {
    display: flex;
    list-style-type: none;
    justify-items: center;
}

.artists_grid {
    display: grid;
    grid-template-columns: repeat(6, 160px);
    grid-template-rows: repeat(2, 250px);
    padding-left: 120px;
}

.artist_photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    z-index: 1;
}

.artist_name {
    margin-top: 10px;
    font-weight: bold;
}

.genres {
    color: gainsboro;
    font-size: x-small;
}

.genre {
    color: gainsboro;
    display: inline;
    margin-right: 2px;
}

.margin_top10 {
    margin-top: 10px;
}

.genre:hover {
    text-decoration: underline;
}

.ptrack {
    display: flex;
    flex-direction: row;
}

.cover {
    width: 70px;
    height: 70px;
    background-color: black;
    margin-right: 15px;
}

.track_info {
    display: flex;
    flex-direction: column;
    height: 70px;
}

.track_title {
    margin-bottom: -8px;
}

.footer {
    position: absolute;
    bottom: -280px;
    width: 100%;
    background-color: black;
    height: 280px;
}

.footer_content {
    display: flex;
    flex-direction: column;
}

.footer_bottom {
    height: 50%;
    margin-left: auto;
    margin-right: auto;
}

.footer_top_col {
    color: white;
    margin-right: 10%;
}

.footer_header {
    font-size: small;
    color: grey;
}

.footer_link {
    text-decoration: none;
    color: white;
    font-family: 'Sans-serif';

}

.footer_links {
    font-size: 13px;
    list-style-type: none;

}

.footer_bottom {
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    padding-right: 30px;
}

.footer_li {
    display: inline;
    font-family: 'Sans-serif';
    margin-right: 10px;
}

.footer_bottom_list {
    list-style-type: none;
    display: inline;
    color: grey;
}

.timezone {
    color: grey;
    font-family: 'Sans-serif';

}

.copyright {
    font-size: x-small;
}

.footer_link_c {
    text-decoration: none;
    color: grey;
    font-family: 'Sans-serif';
}

.scrobbler {
    font-size: x-small;
    text-align: right;
    color: white;
    margin-left: 300px;
}


#search {
    font-size: xx-large;
}

.search_content_top::after {
    border-top: 1px solid #ebebeb;
    content: "";
    left: 0;
    margin-top: 10px;
    position: absolute;
    right: 0;
    width: 100%;
}

.search_nav_list {
    margin-top: 10px;
    font-family: "Sans-serif";
    font-weight: 100;
    font-size: small;
}

.search_nav_item {
    display: inline;
    cursor: pointer;
    margin-right: 3px;
    font-weight: bold;
}

.search_form {
    display: inline;
    border: 2px;
    border-radius: 3px;
    border-style: solid;
    border-color: gainsboro;
    position: relative;
    top: 55px;
}

.search_input {
    width: 60%;
    border: 0;
    caret-color: black;
}

.btn16 {
    background-size: 16px 16px;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    border: 0;
    background-color: white;
    position: relative;
    top: 3px;
    right: 5px;
}

.clear_btn {
    background-image: url(https://www.last.fm/static/images/icons/clear_field_16@2x.0cf2adb54a39.png);
}

.form_search_btn {
    background-image: url(https://www.last.fm/static/images/icons/search_232323_16@2x.21ba32cf82c7.png);
}

.grid_square {
    display: grid;
    grid-template-columns: repeat(5, 150px);
    grid-template-rows: repeat(2, 150px);
    margin-bottom: 70px;
}

.photo_square {
    width: 150px;
    height: 150px;
    background-size: 150px 150px;
}

.search_results {
    margin-top: 100px;
}

.square {
    position: relative;
    background-size: 150px;
}

.square_info {
    position: absolute;
    bottom: 0;
    text-shadow: 0 0 10px rgb(0 0 0 / 100%);
}

.info_text {
    color: white;
    font-size: medium;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.2);
    padding: 1px;
}

.square_sec_info {
    color: white;
    font-size: 12px;
    background: rgba(0, 0, 0, 0.2);
    padding: 1px;
}

.track {
    display: flex;
    width: 800px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 9px;
    padding-top: 9px;
    position: relative;
}

.track::after {
    border-bottom: 1px solid #ebebeb;
    content: "";
    left: 15px;
    position: absolute;
    right: 15px;
    margin-top: 40px;
}

.track_play_btn {
    background-image: url(https://www.last.fm/static/images/icons/play_dark_16@2x.c1748144f8cb.png);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 8px 8px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border-style: solid;
    border-color: gainsboro;
    margin-right: 15px;
}

.track_image {
    background-size: 38px 38px;
    width: 38px;
    height: 38px;
}

.track_like_btn {
    background-image: url(https://www.last.fm/static/images/icons/love_animation_tracklist_24.3c884b0287d4.png);
    background-repeat: no-repeat;
    background-position: 7px 7px;
    width: 32px;
    height: 32px;
    margin-right: 30px;
}

.track_name {
    position: absolute;
    right: 380px;
    font-size: x-small;
    width: 300px;
}

.artist {
    position: absolute;
    right: 200px;
    top: 5px;
}

.duration {
    position: absolute;
    right: 100px;
}

.footer_main {
    margin-top: 100px
}